{
  "extends": [
    "airbnb"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": "off",
    "max-len": "warn",
    "import/no-named-as-default": "off",
    "prefer-object-spread": "off",
    "prettier/prettier": "error",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "indent": "off",
    "operator-linebreak": "off",
    "space-before-function-paren": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "globals": {
    "window": true
  },
  "overrides": [
    {
      "files": ["*.test.*"],
      "rules": {
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    }
  ]
}
